* {
  margin: 0;
  padding: 0;
}
.svg-logo {
  fill: #fff;
  fill-rule: evenodd;
}
.svg-logo_not-empty {
  fill: #343434;
  fill-rule: evenodd;
}
.svg-features {
  fill: #323232;
  fill-rule: evenodd;
}
.svg-login {
  fill: #fff;
  fill-opacity: 0.99;
  fill-rule: evenodd;
}
.svg-social {
  fill: #fff;
  fill-rule: evenodd;
  opacity: 0.8;
}
.svg-heart {
  fill: #f7f8f8;
  stroke: #b2b2b2;
  stroke-linejoin: round;
  stroke-opacity: 0.52;
  stroke-width: 1px;
  fill-rule: evenodd;
}
body {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: normal;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #849d8f;
}
.site-wrapper {
  min-width: 940px;
  min-height: 100vh; /* для демо */

  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}


/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("");
}

.site-wrapper::after {
  background-image: url("");
}


h2 {
  font-size: 35px;
  line-height: 41px;
  color: #fff;
  font-weight: bold;
}
.btn {
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  outline: none;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  /*padding: 12px 50px;*/

  vertical-align: top;

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.btn:hover,
.slider .btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.btn:active,
.slider .btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.btn_hidden {
  display: none;
}
.container {
  margin: 0 2.3%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.page-header__link-logo {
  margin-top: 10px;
  margin-right: 25px;
  float: left;
}
.main-nav {
  margin-top: 33px;
  float: left;
}
.page-header__link-logo {
}
.main-nav__list {
  list-style: none;
  font-size: 0;
}
.main-nav__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  transition: all .5s;
}
.main-nav__item:first-child:hover {
  background-color: #f8f7f4;
}
.main-nav__item:first-child:hover .main-nav__link {
  color: #323232;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__link {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px solid #a0b4a9;
}


.user-block {
  margin-top: 23px;
  float: right;
  font-size: 0;
}
.user-block__search {
  position: relative;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  background-color: rgba(255,255,255, .2);
}
.user-block__search .user-block__link > svg {
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
}
.user-block__link {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
.user-block__search > .user-block__link {
  font-size: 0;
}
.user-block__login {
  position: relative;
  margin-right: 10px;
  line-height: 32px;
  display: inline-block;
  vertical-align: top;
  border-radius: 15px;
  background-color: rgba(255,255,255, .2);
}
.user-block__login .user-block__link {
  padding: 8px 10px 8px 45px;
}
.user-block__login svg {
  display: block;
  position: absolute;
  top: 7px;
  left: 15px;
}
.user-block__basket {
  position: relative;
  line-height: 32px;
  display: inline-block;
  vertical-align: top;
  border-radius: 15px;
  background-color: rgba(255,255,255, .2);
}
.user-block__basket .user-block__link {
  padding: 8px 10px 8px 45px;
}
.user-block__basket svg {
  display: block;
  position: absolute;
  top: 7px;
  left: 15px;
}
.user-block__search:hover,
.user-block__login:hover,
.user-block__basket:hover {
  background-color: #f8f7f4;
}
.user-block__search:hover .user-block__link,
.user-block__login:hover .user-block__link,
.user-block__basket:hover .user-block__link {
  color: #323232;
}
.user-block__search:hover .svg-logo,
.user-block__login:hover .svg-login,
.user-block__basket:hover .svg-logo {
  fill: #323232;
}
.page-header-bottom {
  height: 50px;
}
.page-header .operating-time {
  float: right;
  font-size: 14px;
  color: #fff;
  text-align: right;
  font-weight: normal;
}
.operating-time b {
  font-size: 22px;
  font-weight: bold;
}



.slider {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 270px;
}
.slider__input {
  display: none;
}
.slider__controls {
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 20;

  font-size: 0;
}
.slider__label {
  display: inline-block;
  margin-right: 8px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: top;
}
.slider__label:last-child {
  margin-right: 0;
}
.slider__slide {
  display: none;
}
.slider .btn {
  display: inline-block;
  margin: 0 auto;
  padding: 12px 50px;

  font-weight: bold;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slider__promo {
  margin: 0 auto 40px;
  width: 670px;
}
.slider__promo a {
  font-size: 60px;
  line-height: 60px;
  color: #fff;
  text-decoration: none;
}
.slider__link-head {

}

#slide-btn1:checked ~ .site-wrapper #slider__slide-1,
#slide-btn2:checked ~ .site-wrapper #slider__slide-2,
#slide-btn3:checked ~ .site-wrapper #slider__slide-3 {
  display: block;
}
#slide-btn1:checked ~ .site-wrapper label[for="slide-btn1"],
#slide-btn2:checked ~ .site-wrapper label[for="slide-btn2"],
#slide-btn3:checked ~ .site-wrapper label[for="slide-btn3"] {
  background-color: #fff;
}
#slide-btn1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("");
}

#slide-btn2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("");
}

#slide-btn3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("");
}




.filter legend {
  color: #fff;
}
.filter fieldset {
  border: none;
  background-color: rgba(255,255,255, .2);
}
.filter__label {
  color: #fff;
}
.filter .filter__submit {
  padding: 0 30px;
  height: 32px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(255,255,255, .2);
  outline: none;
  border: none;
  border: 2px solid #fff;
  border-radius: 15px;
}


.breadcrumbs {
  font-size: 0;
}
.breadcrumbs__list {
  list-style: none;
}
.breadcrumbs__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.breadcrumbs__item:last-child {
  margin-right: 0;
}
.breadcrumbs__link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #aebeb5;
}
.breadcrumbs__link.breadcrumbs__link_current {
  border: none;
}






.actions {
  margin-bottom: 40px;
  font-size: 0;
  text-align: center;
}
.actions__article {
  padding: 15px 15px 20px;
  width: 44.4%;
  height: 205px;
  min-width: 267px;
  text-align: left;
  border-radius: 10px;
}
.actions__article:first-child {
  float: left;
  background-image: url("../img/rapsberries.jpg");
}
.actions__article:last-child {
  float: right;
  background-image: url("../img/chocolate.jpg");
}
.actions__article:first-child {
  margin-right: 2.2%;
}
.actions__head {
  margin-bottom: 15px;
}
.actions__info {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: bold;
}
.actions__article .btn {
  float: right;
}



.sweets-catalog__list {
  font-size: 0;
  text-align: center;
}
.sweets-catalog__item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-bottom: 35px;
  /*при 2.2% не влезает 4я мороженка при 1200px*/
  margin-right: 1.8%;
  width: 22.2%;
  min-width: 267px;
  text-align: center;
  transition: all .5s;
}
.sweets-catalog__item:hover {
  background-color: rgba(255,255,255, .2);
  box-shadow: 2px 5px 20px rgba(0,0,0, .4);
}
.sweets-catalog__item:hover .btn_hidden {
  display: block;
}
.sweets-catalog__item:nth-child(4n) {
  margin-right: 0;
}
.sweets-catalog__item:last-child {
  margin-right: 0;
}
.sweets-catalog__item::before {
  content: "";
  display: block;
  width: 61px;
  height: 61px;
  position: absolute;
  background-image: url("../img/hit.jpg");
  background-repeat: no-repeat;
  border-radius: 50%;
}
.sweets-catalog__item_regular.sweets-catalog__item::before {
  background: none;
}
.sweets-catalog__link {
  color: #fff;
  text-decoration: none;
}
.sweets-catalog__img {
  display: block;
  width: 267px;
  height: 267px;
  margin: 0 auto 17px;
}
.sweets-catalog__price {
  position: absolute;
  left: 0;
  top: 220px;
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(49, 50, 53, .5);
}
.sweets-catalog__item p > a {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}



.features {
  position: relative;
  margin-bottom: 40px;
  padding: 25px 15px;
  background-image: url("../img/Вафля фон.jpg");
  border-radius: 10px;
}
.features svg {
  display: block;
  position: absolute;
  top: -10px;
  left: -55px;
  width: 47px;
  height: 47px;
}
.features__head {
  display: block;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}
.features__list {
  list-style: none;
}
.features-left .features__list {
  padding-left: 55px;
}
.features-left {
  float: left;
  margin-right: 2.2%;
  width: 44.4%;
}
.features__item {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}
.features__item:last-child {
  margin-bottom: 0;
}
.features-right {
  float: right;
  width: 44.4%;
}



.news {
  margin-bottom: 40px;
  font-size: 0;
  text-align: center;
}
.news__blog {
  float: left;
  box-sizing: border-box;
  margin-right: 2.2%;
  padding: 25px 15px;
  width: 44.4%;
  height: 220px;
  background-image: url("../img/strawberry.jpg");
  background-position: 5% 40%;
  border-radius: 10px;
}
span.news__head {
  display: block;
  font-size: 16px;
  text-align: left;
}
.news__blog p {
  text-align: left;
  width: 290px;
}
.news__blog .news__link {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}
.news__subscribtion-outer {
  float: right;
  box-sizing: border-box;
  position: relative;
  padding: 6px;
  width: 44.4%;
  height: 220px;
  background-image: url("../img/email-pattern.jpg");
  border-radius: 10px;
}
.news__subscribtion {
  height: 148px;
  padding: 30px 20px;
  font-size: 16px;
  text-align: left;
  background-color: #f8f7f4;
}
.news__subscribtion input {
  float: right;
  padding-left: 14px;
  width: 60%;
  height: 44px;
  border: none;
  outline: none;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}
.news__subscribtion button {
  float: right;
  margin-left: 10px;
}
.news__conditions {
  margin-bottom: 40px;
}



.pagination {
  margin-bottom: 30px;
  font-size: 0;
}
.pagination__prev {

}
.pagination__next {

}
.pagination__list {
  list-style: none;
  text-align: right;
}
.pagination__elem {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all .5s;
}
.pagination__elem:hover {
  background-color: rgba(255,255,255, .2);
}
.pagination__elem.pagination__elem_current {
  background-color: #fff;
}
.pagination__elem.pagination__elem_current > .pagination__link {
  color: #696969;
}
.pagination__link {
  display: block;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.page-footer.page-footer_bordered {
  padding-top: 20px;
  border-top: 1px solid #a9bbb1;
}
.page-footer__maps {
  margin-bottom: 20px;
  height: 430px;
  background-image: url("../img/map.jpg");
  background-position: 0 50%;
}
.page-footer__feedback {
  float: right;
  margin-top: 60px;
  padding: 30px 25px;
  background-color: #fdfefe;
  border-radius: 10px;
}

.page-footer__feedback p {
  margin-bottom: 25px;
}





.page-footer__socials {
  text-align: center;
}
.socials {
  float: left;
  margin-bottom: 25px;
}
.socials__list {
  list-style: none;
  font-size: 0;
  text-align: center;
}
.socials__item {
  display: inline-block;
  vertical-align: top;;
  margin-top: 20px;
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__link {
  text-decoration: none;
}
.docs {
  display: inline-block;
  margin-top: 10px;
}
.docs__list {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  text-align: left;
  list-style: none;
}
.docs__list:first-child {
  margin-right: 0;
}
.docs__list:last-child {
  margin-right: 0;
}
.docs__list:nth-child(2) > .docs__item:first-child > .docs__link:first-child {
  font-weight: bold;
}
.docs__item:first-child {
  margin-bottom: 9px;
}
.docs__link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}
.copyrights {
  float: right;
}
.copyrights__logo {
  text-align: left;
}
.copyrights__sign {
  color: #fefefe;
}
.copyrights__sign > a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}
