* {
  margin: 0;
  padding: 0;
}
.svg-logo {
  fill: #fff;
  fill-rule: evenodd;
}
.svg-logo_not-empty {
  fill: #343434;
  fill-rule: evenodd;
}
.svg-features {
  fill: #323232;
  fill-rule: evenodd;
}
.svg-login {
  fill: #fff;
  fill-opacity: 0.99;
  fill-rule: evenodd;
}
.svg-social {
  fill: #fff;
  fill-rule: evenodd;
  opacity: 0.8;
}
.svg-heart {
  fill: #f7f8f8;
  stroke: #b2b2b2;
  stroke-linejoin: round;
  stroke-opacity: 0.52;
  stroke-width: 1px;
  fill-rule: evenodd;
}
body {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: normal;
  font-family: "Roboto";
  background-color: #000;
}
h2 {
  font-size: 35px;
  line-height: 41px;
  color: #fff;
  font-weight: bold;
}
.btn {
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-image: linear-gradient(90deg, #e74a35, #f26843);
  outline: none;
  border: none;
  border-radius: 18px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}
.container {
  margin: 0 2.3%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* ******** <--Header--> ******** */
.page-header {
}
.page-header .page-header__link-logo {
  margin-top: 10px;
  margin-right: 25px;
  float: left;
}
.page-header .main-nav {
  margin-top: 33px;
  float: left;
}
.page-header__link-logo {
}
.main-nav .main-nav__list {
  list-style: none;
  font-size: 0;
}
.main-nav .main-nav__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}
.main-nav .main-nav__item:last-child {
  margin-right: 0;
}
.main-nav .main-nav__link {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px solid #a0b4a9;
}


.user-block {
  margin-top: 23px;
  float: right;
  font-size: 0;
}
.user-block .user-block__search {
  position: relative;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  background-color: rgba(255,255,255, .2);
}
.user-block__search .user-block__link > svg {
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
}
.user-block .user-block__link {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
.user-block .user-block__search > .user-block__link {
  font-size: 0;
}
.user-block .user-block__login {
  position: relative;
  margin-right: 10px;
  line-height: 32px;
  display: inline-block;
  vertical-align: top;
  border-radius: 15px;
  background-color: rgba(255,255,255, .2);
}
.user-block__login .user-block__link {
  padding: 8px 10px 8px 45px;
}
.user-block__login .user-block__link > svg {
  display: block;
  position: absolute;
  top: 7px;
  left: 15px;
}
.user-block .user-block__basket {
  position: relative;
  line-height: 32px;
  display: inline-block;
  vertical-align: top;
  border-radius: 15px;
  background-color: rgba(255,255,255, .2);
}
.user-block__basket .user-block__link {
  padding: 8px 10px 8px 45px;
}
.user-block__basket .user-block__link > svg {
  display: block;
  position: absolute;
  top: 7px;
  left: 15px;
}
.page-header-bottom {
  height: 50px;
}
.page-header .operating-time {
  float: right;
  font-size: 14px;
  color: #fff;
  text-align: right;
  font-weight: normal;
}
.page-header .operating-time b {
  font-size: 22px;
  font-weight: bold;
}
/* ******** </--Header--> ******** */




/* ******** <--Main--> ******** */
  /* $$$$$$ <--Slider--> $$$$$$ */
.slider {
  margin-top: 280px;
  height: 280px;
}
.slider .slider__inner {

}
.slider .slider__slides {
  text-align: center;
}
.slider .slider__slides .btn {
  display: block;
  margin: 0 auto;
  width: 112px;
}
.slider .slider__slide-1 {

}
.slider .slider__promo {
  margin: 0 auto 40px;
  width: 670px;
}
.slider .slider__promo a {
  font-size: 60px;
  line-height: 60px;
  color: #fff;
  text-decoration: none;
}
.slider .slider__link-head {

}
.slider .slider__slide-2 {

}
.slider .slider__slide-3 {

}
.slider .slider__bullets {

}
.slider .slider__bullet {

}
  /* $$$$$$ </--Slider--> $$$$$$ */



.breadcrumbs {
  font-size: 0;
}
.breadcrumbs__list {
  list-style: none;
}
.breadcrumbs__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.breadcrumbs__item:last-child {
  margin-right: 0;
}
.breadcrumbs__link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #aebeb5;
}
.breadcrumbs__link.breadcrumbs__link_current {
  border: none;
}






.actions {
  margin-bottom: 40px;
  font-size: 0;
  text-align: center;
}
.actions .actions__article {
  /*display: inline-block;*/
  padding: 15px 15px 20px;
  width: 44.4%;
  height: 205px;
  min-width: 267px;
  text-align: left;
  border-radius: 10px;
}
.actions .actions__article:first-child {
  float: left;
  background-image: url("../img/rapsberries.jpg");
}
.actions .actions__article:last-child {
  float: right;
  background-image: url("../img/chocolate.jpg");
}
.actions .actions__article:first-child {
  margin-right: 2.2%;
}
.actions .actions__head {
  margin-bottom: 15px;
}
.actions .actions__info {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: bold;
}
.actions .actions__article .btn {
  float: right;
}



.sweets-catalog {

}
.sweets-catalog .sweets-catalog__list {
  /*position: relative;*/
  font-size: 0;
  text-align: center;



  /*background-color: green;*/
}
.sweets-catalog .sweets-catalog__item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-bottom: 35px;
  /*при 2.2% не влезает 4я мороженка при 1200px*/
  margin-right: 1.8%;
  width: 22.2%;
  min-width: 267px;
  text-align: center;


  /*background-color: pink;*/
}
.sweets-catalog .sweets-catalog__item:nth-child(4n) {
  margin-right: 0;
}
.sweets-catalog .sweets-catalog__item:last-child {
  margin-right: 0;
}
.sweets-catalog .sweets-catalog__item::before {
  content: "";
  display: block;
  width: 61px;
  height: 61px;
  position: absolute;
  background-image: url("../img/hit.jpg");
  background-repeat: no-repeat;
  border-radius: 50%;
}
.sweets-catalog .sweets-catalog__link {
  color: #fff;
  text-decoration: none;
}
.sweets-catalog .sweets-catalog__img {
  display: block;
  width: 267px;
  height: 267px;
  margin: 0 auto 17px;
}
.sweets-catalog .sweets-catalog__price {
  position: absolute;
  left: 0;
  top: 220px;
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(49, 50, 53, .5);
}
.sweets-catalog .sweets-catalog__item p > a {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}



.features {
  position: relative;
  margin-bottom: 40px;
  padding: 25px 15px;
  background-image: url("../img/Вафля фон.jpg");
  border-radius: 10px;
}
.features svg {
  display: block;
  position: absolute;
  top: -10px;
  left: -55px;
  width: 47px;
  height: 47px;
}
.features__head {
  display: block;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}
.features__list {
  list-style: none;
}
.features-left .features__list {
  padding-left: 55px;
}
.features-left {
  float: left;
  /*display: inline-block;*/
  vertical-align: top;
  margin-right: 2.2%;
  width: 44.4%;
}
.features__item {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}
.features__list .features__item:last-child {
  margin-bottom: 0;
}
.features-right {
  float: right;
  /*display: inline-block;*/
  vertical-align: top;
  width: 44.4%;
}
.features-right svg:last-child {

}



.news {
  margin-bottom: 40px;
  font-size: 0;
  text-align: center;
}
.news .news__blog {
  float: left;
  box-sizing: border-box;
  margin-right: 2.2%;
  padding: 25px 15px;
  width: 44.4%;
  height: 220px;
  background-image: url("../img/strawberry.jpg");
  background-position: 5% 40%;
  border-radius: 10px;

  background-color: gold;
}
.news span.news__head {
  display: block;
  font-size: 16px;
  text-align: left;
}
.news__blog p {
  text-align: left;
  width: 290px;
}
.news__blog .news__link {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}
.news .news__subscribtion-outer {
  float: right;
  box-sizing: border-box;
  position: relative;
  padding: 6px;
  width: 44.4%;
  height: 220px;
  background-image: url("../img/email-pattern.jpg");
  border-radius: 10px;
}
.news .news__subscribtion {
  height: 148px;
  padding: 30px 20px;
  font-size: 16px;
  text-align: left;
  background-color: #f8f7f4;
}
.news .news__subscribtion input {
  float: right;
  padding-left: 14px;
  width: 60%;
  height: 44px;
  border: none;
  outline: none;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}
.news .news__subscribtion button {
  float: right;
  margin-left: 10px;
}
.news .news__conditions {
  margin-bottom: 40px;
}



.pagination {
  margin-bottom: 30px;
  font-size: 0;
}
.pagination__prev {

}
.pagination__next {

}
.pagination__list {
  list-style: none;
  text-align: right;
}
.pagination__elem {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
}
.pagination__elem.pagination__elem_current {
  background-color: #fff;
}
.pagination__elem.pagination__elem_current > .pagination__link {
  color: #696969;
}
.pagination__link {
  display: block;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}





/* ******** </--Main--> ******** */






/* ******** <--Footer--> ******** */

.page-footer.page-footer_bordered {
  padding-top: 20px;
  border-top: 1px solid #a9bbb1;
}
.page-footer .page-footer__maps {
  margin-bottom: 20px;
  height: 430px;
  background-image: url("../img/map.jpg");
  background-position: 0 50%;
}
.page-footer .page-footer__feedback {
  float: right;
  margin-top: 60px;
  padding: 30px 25px;
  background-color: #fdfefe;
  border-radius: 10px;
}

.page-footer__feedback p {
  margin-bottom: 25px;
}





.page-footer__socials {
  text-align: center;
}




.socials {
  float: left;
  margin-bottom: 25px;


  /*background-color: gold;*/
}
.socials .socials__list {
  list-style: none;
  font-size: 0;
  text-align: center;
}
.socials .socials__item {
  display: inline-block;
  vertical-align: top;;
  margin-top: 20px;
  margin-right: 10px;



  /*background-color: green;*/
}
.socials .socials__item:last-child {
  margin-right: 0;
}
.socials .socials__link {

}




.docs {
  display: inline-block;
  margin-top: 10px;
}
.docs .docs__list {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  text-align: left;
  list-style: none;
}
.docs .docs__list:first-child {
  margin-right: 0;
}
.docs .docs__list:last-child {
  margin-right: 0;
}
.docs .docs__item {
}
.docs__list:nth-child(2) > .docs__item:first-child > .docs__link:first-child {
  font-weight: bold;
}
.docs .docs__link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}




.copyrights {
  float: right;
}
.copyrights .copyrights__logo {
  text-align: left;
}
.copyrights .copyrights__link {
}
.copyrights .copyrights__img {

}
.copyrights .copyrights__sign {
  color: #fefefe;
}
.copyrights .copyrights__sign > a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

/* ******** </--Footer--> ******** */
