* {
  margin: 0;
  padding: 0;
}
.svg-logo {
  fill: #fff;
  fill-rule: evenodd;
}
.svg-logo_not-empty {
  fill: #343434;
  fill-rule: evenodd;
}
.svg-features {
  fill: #323232;
  fill-rule: evenodd;
}
.svg-login {
  fill: #fff;
  fill-opacity: 0.99;
  fill-rule: evenodd;
}
.svg-social {
  fill: #fff;
  fill-rule: evenodd;
  opacity: 0.8;
}
.svg-heart {
  fill: #f7f8f8;
  stroke: #b2b2b2;
  stroke-linejoin: round;
  stroke-opacity: 0.52;
  stroke-width: 1px;
  fill-rule: evenodd;
}
body {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: normal;
  font-family: "Roboto";
  background-color: #000;
}
h2 {
  font-size: 35px;
  line-height: 41px;
  color: #fff;
  font-weight: bold;
}
.btn {
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-image: linear-gradient(90deg, #e74a35, #f26843);
  outline: none;
  border: none;
  border-radius: 18px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}
.container {
  margin: 0 2.3%;
}
/* ******** <--Header--> ******** */
.page-header {

}
.page-header .page-header__link-logo{
  float: left;
}
.page-header .main-nav {
  float: left;
}
.page-header__link-logo {
}
.main-nav .main-nav__list {
  list-style: none;
  font-size: 0;
}
.main-nav .main-nav__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}
.main-nav .main-nav__item:last-child {
  margin-right: 0;
}
.main-nav .main-nav__link {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px solid #a0b4a9;
}


.user-block {
  float: right;


  font-size: 0;
}
.user-block .user-block__search {
  display: inline-block;
  vertical-align: top;
}
.user-block .user-block__link {

}
.user-block .user-block__login {
  display: inline-block;
  vertical-align: top;
}
.user-block .user-block__basket {
  display: inline-block;
  vertical-align: top;
}
.page-header .operating-time {
}
/* ******** </--Header--> ******** */




/* ******** <--Main--> ******** */
  /* $$$$$$ <--Slider--> $$$$$$ */
.slider {

}
.slider .slider__inner {

}
.slider .slider__slides {

}
.slider .slider__slide-1 {

}
.slider .slider__promo {

}
.slider .slider__link-head {

}
.slider .slider__slide-2 {

}
.slider .slider__slide-3 {

}
.slider .slider__bullets {

}
.slider .slider__bullet {

}
  /* $$$$$$ </--Slider--> $$$$$$ */



.actions {
  margin-bottom: 40px;
  font-size: 0;
  text-align: center;
}
.actions .actions__article {
  display: inline-block;
  padding: 20px 15px;
  width: 44.4%;
  height: 189px;
  text-align: left;
  background-image: url("../img/Малиновый Фон.jpg");
  border-radius: 10px;
}
.actions .actions__article:first-child {
  margin-right: 2.2%;
}
.actions .actions__head {
  margin-bottom: 15px;
}
.actions .actions__info {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: bold;
}
.actions .actions__article .btn {
  float: right;
}



.sweets-catalog {

}
.sweets-catalog .sweets-catalog__list {
  /*position: relative;*/
  font-size: 0;
  text-align: center;



  /*background-color: green;*/
}
.sweets-catalog .sweets-catalog__item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-bottom: 35px;
  margin-right: 2.2%;
  width: 22.2%;
  min-width: 140px;
  text-align: center;


  /*background-color: pink;*/
}
.sweets-catalog .sweets-catalog__item:last-child {
  margin-right: 0;
}
.sweets-catalog .sweets-catalog__item::before {
  content: "";
  display: block;
  width: 61px;
  height: 61px;
  position: absolute;
  background-image: url("../img/ХИТ.jpg");
  background-repeat: no-repeat;
  border-radius: 50%;
}
.sweets-catalog .sweets-catalog__link {
  color: #fff;
  text-decoration: none;
}
.sweets-catalog .sweets-catalog__img {
  display: block;
  width: 267px;
  height: 267px;
  margin: 0 auto 17px;
}
.sweets-catalog .sweets-catalog__price {
  position: absolute;
  left: 0;
  top: 220px;
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(49, 50, 53, .5);
}
.sweets-catalog .sweets-catalog__item p > a {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}



.features {
  padding: 25px 15px;
  background-image: url("../img/Вафля фон.jpg");
  border-radius: 10px;
}
.features-left {

}
.features__item {

}
.features-right {

}



.news {
  font-size: 0;
  text-align: center;
}
.news .news__blog {
  margin-right: 2.2%;
  width: 44.4%;
  height: 220px;
  display: inline-block;
  vertical-align: top;


  background-color: gold;
}
.news .news__subscribtion {
  width: 44.4%;
  height: 220px;
  display: inline-block;
  vertical-align: top;



  background-color: darkcyan;
}
.news .news__conditions {

}



/* ******** </--Main--> ******** */






/* ******** <--Footer--> ******** */

.page-footer .page-footer {

}
.page-footer .page-footer__maps {
  height: 430px;



  background-color: yellow;
}
.page-footer .page-footer__feedback {
  float: right;
  width: 302px;





  background-color: green;
}





.page-footer__socials {
  text-align: center;
}




.socials {
  float: left;



  background-color: gold;
}
.socials .socials__list {
  list-style: none;
  font-size: 0;
  text-align: center;
}
.socials .socials__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;



  background-color: green;
}
.socials .socials__item:last-child {
  margin-right: 0;
}
.socials .socials__link {

}




.docs {
  display: inline-block;

  width: 340px;
  background-color: darkcyan;
}
.docs .docs__list {
  list-style: none;
}
.docs .docs__item {
  display: inline-block;
  vertical-align: top;
}
.docs .docs__link {

}




.copyrights {
  float: right;
}
.copyrights .copyrights__logo {

}
.copyrights .copyrights__link {

}
.copyrights .copyrights__img {

}
.copyrights .copyrights__sign {

}


/* ******** </--Footer--> ******** */
